<h1>Sample App</h1>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<br />
<p>
  You can also find me at Facebook at
  <a href="http://www.facebook.com/olivermankowski/">Oliver Mankowski at Facebook</a>
</p>

<p>
  Or email at
  <a href="contact@olivermankowski.com/">contact@olivermankowski.com</a>
</p>



<br />
<p>
  LinkedIn profile:
  <a href="http://www.linkedin.com/profile/view?id=47188941&locale=en_US&trk=tab_pro">Oliver Mankowski at LinkedIn</a>
</p>

<br />
<p>
  Mendeley profile:
  <a href="http://www.mendeley.com/profiles/oliver-mankowski/">Oliver Mankowski at Mendeley</a>
</p>